<div class="dashboard-container">
  <h2>Events Details</h2>
  <table
    mat-table
    [dataSource]="(eventsWithBookings$ | async) ?? []"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="sn">
      <th mat-header-cell *matHeaderCellDef>S.N</th>
      <td mat-cell *matCellDef="let event; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let event">{{ event.title }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let event">{{ event.category }}</td>
    </ng-container>

    <ng-container matColumnDef="ticketsBooked">
      <th mat-header-cell *matHeaderCellDef>Tickets Booked</th>
      <td mat-cell *matCellDef="let event">{{ event.ticketsBooked }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let event">{{ event.date }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let event">{{ event.time }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let event">{{ event.location }}</td>
    </ng-container>

    <ng-container matColumnDef="totalTickets">
      <th mat-header-cell *matHeaderCellDef>Total Tickets</th>
      <td mat-cell *matCellDef="let event">{{ event.totalTickets }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let event">{{ event.price | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
