<div class="p-6 bg-gray-100 min-h-screen">
  <div class="flex items-center mb-4 cursor-pointer">
    <mat-icon class="mr-2" [routerLink]="routePaths.USER_DASHBOARD"
      >arrow_back</mat-icon
    >
    <h1 class="text-2xl font-bold">Booking Details</h1>
  </div>
  <ng-container *ngIf="eventDetail; else noBooking">
    <mat-card class="p-6 bg-white shadow-md max-w-2xl mx-auto">
      <h2 class="text-xl font-semibold mb-4">Event Details</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <p class="font-medium">Title:</p>
          <p>{{ eventDetail.title }}</p>
        </div>
        <div>
          <p class="font-medium">Category:</p>
          <p>{{ eventDetail.category }}</p>
        </div>
        <div class="md:col-span-2">
          <p class="font-medium">Description:</p>
          <p>{{ eventDetail.description }}</p>
        </div>
        <div>
          <p class="font-medium">Date:</p>
          <p>{{ eventDetail.date }}</p>
        </div>
        <div>
          <p class="font-medium">Time:</p>
          <p>{{ eventDetail.time }}</p>
        </div>
        <div>
          <p class="font-medium">Location:</p>
          <p>{{ eventDetail.location }}</p>
        </div>
        <div>
          <p class="font-medium">Tickets Booked:</p>
          <p>1</p>
        </div>
        <div>
          <p class="font-medium">Available Tickets:</p>
          <p>{{ eventDetail.availableTickets }}</p>
        </div>
        <div>
          <p class="font-medium">Price:</p>
          <p>{{ eventDetail.price | currency : "USD" }}</p>
        </div>
      </div>
    </mat-card>
  </ng-container>

  <ng-template #noBooking>
    <p class="text-center text-gray-500 mt-6">No booking details found.</p>
  </ng-template>
</div>
