<mat-nav-list>
  <a
    mat-list-item
    routerLink="/admindashboard"
    routerLinkActive="bg-blue-100 text-blue-600 font-semibold rounded-lg"
    class="flex items-center space-x-3 p-3 rounded-lg hover:bg-blue-50 transition"
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>

  <a
    mat-list-item
    routerLink="/events"
    routerLinkActive="bg-blue-100 text-blue-600 font-semibold rounded-lg"
    class="flex items-center space-x-3 p-3 rounded-lg hover:bg-blue-50 transition"
  >
    <mat-icon>event</mat-icon>
    <span>Events</span>
  </a>

  <a
    *ngIf="role$ | async as role"
    mat-list-item
    routerLink="/userlist"
    routerLinkActive="bg-blue-100 text-blue-600 font-semibold rounded-lg"
    class="flex items-center space-x-3 p-3 rounded-lg hover:bg-blue-50 transition"
    [hidden]="role !== 'admin'"
  >
    <mat-icon>people</mat-icon>
    <span>Users</span>
  </a>
  <ng-template #hideUser></ng-template>
  <a
    mat-list-item
    (click)="logout()"
    class="flex items-center space-x-3 p-3 rounded-lg hover:bg-red-100 text-red-600 transition"
  >
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>
