/* --------------------------------- */
/* Tailwind directives — MUST be at the top */
/* --------------------------------- */
@use "@angular/material" as mat;
@use "tailwindcss";

/* --------------------------------- */
/* Angular Material 3 theming */
/* --------------------------------- */

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

/* --------------------------------- */
/* Global styles */
/* --------------------------------- */
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
